In [20]:
import MySQLdb
import os
import sys
from MySQLdb.constants import FIELD_TYPE

my_conv = { FIELD_TYPE.DECIMAL: float }
db=MySQLdb.connect(host="localhost",db="ercot_data",read_default_file="/etc/mysql/my.cnf",conv=my_conv)
c=db.cursor()

In [21]:
c.execute("""DROP TABLE IF EXISTS DAM_SPPs""")
c.execute("""CREATE TABLE DAM_SPPs (
            delivery_date DATE,
            hour_ending TIME,
            PRIMARY KEY (delivery_date,hour_ending)
            ) engine = MyISAM""")

0L

In [22]:
f = open("/ssd/raw_ercot_data/dam_lmps/DAM_by_LZHBSPP/zones/part-00000","r")
bus_names = [line[:-1] for line in f]
f.close()
bus_names

['HB_BUSAVG',
 'HB_HOUSTON',
 'HB_HUBAVG',
 'HB_NORTH',
 'HB_SOUTH',
 'HB_WEST',
 'LZ_AEN',
 'LZ_CPS',
 'LZ_HOUSTON',
 'LZ_LCRA',
 'LZ_NORTH',
 'LZ_RAYBN',
 'LZ_SOUTH',
 'LZ_WEST']

In [23]:
for bus in bus_names:
    c.execute("""ALTER TABLE DAM_SPPs ADD COLUMN `%s` DECIMAL(6,2)""" % bus)

In [25]:
c.execute("""LOAD DATA LOCAL INFILE '/ssd/raw_ercot_data/dam_lmps/DAM_by_LZHBSPP/spark_results/part-00000' 
INTO TABLE DAM_SPPs FIELDS TERMINATED BY ',' 
LINES TERMINATED BY '\n' 
(@date_variable,hour_ending,HB_BUSAVG,HB_HOUSTON,HB_HUBAVG,HB_NORTH,HB_SOUTH,HB_WEST,LZ_AEN,LZ_CPS,LZ_HOUSTON,LZ_LCRA,LZ_NORTH,LZ_RAYBN,LZ_SOUTH,LZ_WEST) 
SET delivery_date = STR_TO_DATE(@date_variable, '%m/%d/%Y');
""")

ERROR: An unexpected error occurred while tokenizing input
The following traceback may be corrupted or invalid
The error message is: ('EOF in multi-line string', (1, 0))

OperationalError: (1148, 'The used command is not allowed with this MySQL version')