In [12]:
import MySQLdb
from MySQLdb.constants import FIELD_TYPE

my_conv = { FIELD_TYPE.DECIMAL: float }
db=MySQLdb.connect(host="localhost",db="ercot_data",read_default_file="/etc/mysql/my.cnf",conv=my_conv)
c=db.cursor()

In [13]:
c.execute("""DROP TABLE IF EXISTS 2011_DAM_lmps_new""")
c.execute("""CREATE TABLE 2011_DAM_lmps_new (
            delivery_date_hour TIMESTAMP,
            PRIMARY KEY (delivery_date_hour)
            ) engine = MyISAM""")

0L

In [14]:
f = open("/ssd/raw_ercot_data/dam_lmps/DAM_Hr_LMP_2011/formatted_LMPs/bus_names_2011","r")
bus_names = [line[:-1] for line in f]
f.close()

In [18]:
for bus in bus_names:
    c.execute("""ALTER TABLE 2011_DAM_lmps_new ADD COLUMN `%s` DECIMAL(6,2)""" % bus)

OperationalError: (1117, 'Too many columns')